<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Successful</title>
    <link rel="stylesheet" href="/styles/success.css">
</head>
<body>
<!-- Aura Background -->
<div class="aura-background"></div>

<!-- Form Container -->
<div class="form-container">
    <p class="success-message"><%= message %></p>
    <!-- Wrapping the button in the .login-link div -->
    <div class="login-link">
        <button onclick="window.location.href='/login'">Login Here</button>
    </div>
</div>
</body>
</html>

